/*Nanum-Myeongjo Font*/

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-myeongjo-bold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
}

.nanum-myeongjo-extrabold {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;

    text-decoration: none;
    color: black;
    transform : rotate(0.04deg);
}

h1 {
    margin: 0;
    display: inline;
    line-height: 0;
}

h2 {
    margin: 0;
    display: inline;
    line-height: 0;
}

